
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    padding: 4px 8px;
    background-color: rgb(75, 189, 227);
    color: white;
    font-size: 17px;
}
.line{
    height: 10px;
    width: 20vw;
    background-color: brown;
}
.line2{
    width: 100vw;
}
